---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Portfolio | Marion Sabatier" description="Portfolio de Marion Sabatier">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Avec un parcours universitaire qui reflète avant tout ma curiosité insatiable, j’ai exploré divers horizons. Après une licence en histoire, j’ai choisi de me plonger dans un master en archéologie médiévale, puis un autre en édition du livre d'art, en particulier le livre d’artiste. C’est cette même curiosité qui me pousse aujourd’hui à suivre une formation en développement web, afin d’élargir mes compétences et de continuer à apprendre.
					</p>
					<p>
						Mon parcours professionnel est tout aussi éclectique, allant de jobs étudiants à mon aventure en tant qu'auto-entrepreneuse. Ces expériences m’ont permis de développer une grande capacité d'adaptation et une bonne gestion de la diversité des tâches. J'ai appris à m’investir à fond dans ce que je fais, surtout quand un projet me passionne.
					</p>
					<p>
						Côté personnalité, je suis quelqu’un de calme dans l’adversité, mais mon impatience me pousse parfois à chercher rapidement des solutions. J’organise mes tâches pour avancer de manière efficace, même si je me laisse parfois distraire par la spontanéité qui fait aussi mon charme. J’adore apprendre chaque jour et voir le résultat de mes efforts.
					</p>
					<p>
						Un de mes projets dont je suis particulièrement fière est la mise en page d’un journal trimestriel distribué nationalement. C’est un travail que je trouve beau et qui me permet de montrer mon sens du détail et mon côté créatif.
					</p>
					<p>
						Aujourd’hui, je souhaite réintégrer le salariat, car j’ai à cœur de travailler au sein d’une équipe, d’échanger et de relever des défis ensemble. J’ai envie de partager mes compétences tout en continuant à apprendre aux côtés de collègues motivés.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 0.9rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>