---
interface Props {
	href: string;
}

const { href } = Astro.props;
---
<!-- boutons-->
<a href={href}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.45em 1.5em;  
		gap: 0.8em;
		color: var(--gray-0);
		font-weight: 600;
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--gradient-accent-btn);
		box-shadow: var(--shadow-sm);
		white-space: nowrap;
		font-size: var(--text-md); 
	}
	
	a:nth-child(2) {
		background: var(--gradient-accent-btn);
	}

	:global(.theme-dark) a {
		color: var(--gray-900);
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	/* Overlay for hover effects. */
	a::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		transition: background-color var(--theme-transition);
		mix-blend-mode: overlay;
	}

	a:focus::after,
	a:hover::after {
		background-color: var(--gray-500);
	}

	@media (min-width: 50em) {
		a {
			padding: 0.75rem 1.75rem; 
			font-size: var(--text-xl); 			
		}
	}

</style>